body {
    background-color: white;
}

.logo-placement {
    top: 250px;
    left: 500px;
    position: absolute;
    visibility: show;
}

#search-box {
    width: 463px;
    height: 30px;
    border: 1px solid #000;
    top: 350px;
    left: 400px;
    position: absolute;
}